*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background-color: aliceblue;
    padding: 10px 10%;
    position: relative;
    
}
nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav h1{
    font-size: 40px;
    color: orange;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}
nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 400;
}
.login{
    text-decoration: none;
    color: #333;
    margin-right: 15px;
    font-weight: 400;
}
.down{
   text-decoration: none;
   display: inline-block;
   color: #fff;
   padding: 14px 40px;
   background: linear-gradient(45deg, #df4881, #c430d7);
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
}

.content{
    margin-top: 10%;
    max-width: 600px;
}
.content h1{
    font-size: 70px;
    color: #222;
}
.content p{
    margin: 10px 0 30px;
    color: #333;
    animation-delay: 0.5s;
}
.content .down{
    padding: 15px 80px ;
    font-size: 16px;
    animation-delay: 1s;
}
.down:hover{
  border-top-right-radius: 30px;
}

.feature-img{
    width: 330px;
    position: absolute;
    bottom: 30px;
    right: 10%;
    border-radius: 10px;
    
}
.feature-img.anim{
    animation-delay: 1.5s;
}



.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
